body{
    background-color: lightgray;
}
@media (min-width: 1400) and (max-width: 2000) {
    #menu{
        display: flex;
        flex-direction: column;
        line-height: 2vw;
    }
    #mn{
        line-height: 10vw;
    }
    footer{
        display: flex;
        align-self: flex-end;
    }
    #article{
        display: grid;
        grid-template-rows: 50px 50px;
        grid-template-columns: 50px 50px;
    }
    #ChaquetaG{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    span{
        border-color: black;
        background-color: white;
        border-width: 10px;
        border-style: solid;
    }
    #1{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #ChaquetaN{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #viewport{
        display: grid;
        grid-template-rows: 50px 50px;
        grid-template-columns: 50px 50px;
    }
    #2{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #ChaquetaB{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #3{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #4{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #5{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #6{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #7
    {
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }    
    #8{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #9{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #10{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #11{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #12{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #13{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #14{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #15{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #ChaquetaS{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #ChaquetaA{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #CamisetaL{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #CamisetaP{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #CamisetaD{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #CamisetaR{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #CamisetaA{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #PantalonL{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #PantalonC{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #PantalonJCTM{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #PantalonJCE{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #PantalonCBD{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #BotonC{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
}
@media screen and (max-width: 500) 
{
    #menu{
        display: flex;
        flex-direction: column;
        line-height: 2vw;
    }
    #mn{
        line-height: 10vw;
    }
    footer{
        display: flex;
        align-self: flex-end;
    }
    #article{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #ChaquetaG{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #1{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #ChaquetaN{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #viewport{
        display: flex;
        flex-direction: row;
    }
    #2{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #ChaquetaB{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #3{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #4{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #5{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #6{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #7
    {
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }    
    #8{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #9{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #10{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #11{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #12{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #13{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #14{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #15{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #ChaquetaS{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #ChaquetaA{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #CamisetaL{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #CamisetaP{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #CamisetaD{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #CamisetaR{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #CamisetaA{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #PantalonL{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #PantalonC{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #PantalonJCTM{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #PantalonJCE{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #PantalonCBD{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #BotonC{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
}