body{
    background-color: white;
    background-image: url(./anime-couple-sitting-on-rooftop-600nw-2253631819.webp);
    background-repeat: no-repeat;
    background-size: 100vw;



}
    .container{
        display: flex;
        flex-direction: row;
        background-color: white;

    }
    .menu{
        display: flex;
        flex-direction: column;
        line-height: 2vw;
    }
    #mn{
        display: flex;
        flex-direction: row;
        line-height: 10vw;
        background-color: white;

    }
    #t{
        ;
    }
    footer{
        display: flex;
        justify-content: flex-end;
        
    }
    .article{
        background-color: white;

    }
    #ChaquetaG{
        display: flex;
        flex-direction: column;
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    span{
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        border-color: black;
        background-color: white;
        border-width: 10px;
        border-style: solid;
    }
    #1{
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #ChaquetaN{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    .viewport{
        width: 100%;
        max-width: 1100px;
        padding: 0 10px;
    }
    #2{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #ChaquetaB{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #3{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #4{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #5{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #6{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #7
    {
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }    
    #8{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #9{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #10{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #11{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #12{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #13{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #14{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #15{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #ChaquetaS{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #ChaquetaA{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #CamisetaL{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #CamisetaP{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #CamisetaD{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #CamisetaR{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #CamisetaA{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #PantalonL{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #PantalonC{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #PantalonJCTM{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #PantalonJCE{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #PantalonCBD{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }
    #BotonC{
        border-color: black;
        border-radius: 20px;
        border-width: 10px;
        border-style: solid;
    }

